/*顶部样式*/
.x{
	width:100%;
	margin:0;
	padding:0;
	border-bottom:5px solid #C3CAD0;
}
/*每层都可以用这个共用Y样式*/
.y{
	width:1500px;
	margin:0 auto;
}
.z{
	height:50px;
}
a{
	text-decoration:none;
}
/*设置宽高没用？原来是打开窗口不对~~*/
 .top{
	width:400px;
	height:40px;
	font:25px/50px "黑体"
} 
.top1{
	float:left;
}
.top2{
	float:right;
	text-align:right;
}
/*导航栏通栏的样式*/
.x2{
	border-bottom:10px solid #C3CAD0;
}
.dhl{
	width:1500px;
	height:150px;
	margin:0 auto;
	position:relative;
}
/*导航栏通栏里的盒子*/
.dhbj{
	float:left;
	height:150px;
	width:400px;
	font:20px/200% "宋体";
	color:#C3CAD0;
} 
/*商标图片样式*/
.pic1{
	width:200px;
	height:100px;
	margin-top:20px;
}
/*把那个特别的“我”字设定样式*/
.dhbj span.big{
	font-size:28px;
}
/*导航栏链接样式*/
.tubiao{
	position:absolute;
	right:0;
	bottom:0;
	width:600px;
	height:50px;
}
.tubiao ul{
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
}
/*一个符号打错了{打成【所以怎么设置都没效果，粗心！！！*/
.tubiao li{
	float:left;
	width:120px;
	height:50px;
	font:22px/50px "宋体";
}
.tubiao a{
	display:block;
	width:100%;
	height:100%;
	color:black;
}
.tubiao a:hover{
	text-decoration:underline;
	background:yellow;
	color:red;
}/*导航栏写完*/
/*写页面背景图片栏*/
.x3{
	background:url("../img/2.jpg");
	margin:0;
	padding:0;
}
/*背景大盒子设定宽高*/
.beijing{
	height:230px;
	position:relative;
}
/*公共样式*/
.bj{
	position:absolute;
}
/*背景文字*/
.bj.wz{
	height:150px;
	left:0;
	bottom:0;
}
/*背景图片*/
.bj.tp{
	right:0;
	top:0;
}
/*背景文字样式*/
.wz .spec{
	color:#14499D;
	font:40px/0px "宋体";
}
.wz .white{
	color:#3333cc;
	font:20px/10px "微软雅黑";
}  /*END```*/
/*首页链接*/
.lianjie{
	height:50px;
	border-bottom:1px solid #C3CAD0;
	font:20px/50px "simhei";
}
.lianjie a{
	color:red;
}
/*简介*/
.tpjj{
	height:800px;
}
.tpjj ul{
	margin:0;
	padding:0;
}
.tpjj li{
	width:345px;
	height:380px;
	float:left;
	list-style:none;
	margin:10px;
}
.tpjj li img{
	width:345px;
	height:200px;
}
.tpjj p{
	width:345px;
}/*简介写完*/
/*底部导航栏样式*/
.x3{
	background:#B3BDC6;
}
.dbdh{
	width:400px;
	height:50px;
	margin:0 auto;
}
.dbdh ul{
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
}
.dbdh li{
	float:left;
	width:99px;
	height:50px;
	border-right:1px solid black;
	font:20px/50px "simhei"
}
/*设置最后一个li边框为0*/
.dbdh .border0{
	border:0;
}
.dbdh a{
	color:red;
	display:block;
	width:100%;
	height:100%;
}
.dbdh a:hover{
	background:yellow;
	text-decoration:underline;
	color:black;
}
/*结尾商标。。*/
.dbsb{
	width:600px;
	height:60px;
	margin:0 auto;
}
.dbsb p{
	margin:0;
	width:600px;
	font:15px/200% "宋体";
}
/*完美收工*/